/* .markdown-source-view.mod-cm6 .internal-embed>img,
.markdown-source-view.mod-cm6 .cm-content>img,
.markdown-preview-view img,
.markdown-rendered img {} */

img {
    border: 1px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(128, 128, 128) 3px 3px 5px;
}

/* .function-plot {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */